{% from 'lexical/creation.html' import creation %}
{% from 'lexical/analysis.html' import analysis %}


{% macro lexical(prefix_id='') %}
    <div class="container">
        <h2 class="text-center mt-5"> Análise Léxica </h2>

        <nav>
            <div class="nav nav-tabs" role="tablist">
                <button type="button" class="btn nav-item nav-link active" role="tab" data-toggle="tab" href="#lexical-creation-content"> Criação </button>
                <button type="button" class="btn nav-item nav-link" role="tab" data-toggle="tab" href="#lexical-analysis-content"> Análise </button>
            </div>
        </nav>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="lexical-creation-content" role="tabpanel">
                {{ creation(prefix_id=prefix_id) }}
            </div>
            <div class="tab-pane fade" id="lexical-analysis-content" role="tabpanel">
                {{ analysis(prefix_id=prefix_id) }}
            </div>
        </div>
    </div>

    <script type="module">
        const INPUT_LEXEME_REGEX = "#{{prefix_id}}-lexical-expressions";
        const INPUT_PRIMITIVES_REGEX = "#{{prefix_id}}-lexical-dependencies";
        const BUILD_LEXICAL_ANALYSER_BTN = "#{{prefix_id}}-create-analyzer";

        $(BUILD_LEXICAL_ANALYSER_BTN).click(build_lexical_analyser);

        function build_lexical_analyser() {
            let primitives = $(INPUT_PRIMITIVES_REGEX).val();
            let valid = true;
            if (!validate(primitives)) {
                show_error(null, "Expressão inválida nas dependências não pode ser convertida.");
                valid = false;
            }

            let lexeme_expresssion = $(INPUT_LEXEME_REGEX).val();
            if (!validate(lexeme_expresssion)) {
                show_error(null, "Expressão inválida nos lexemas não pode ser convertida.");
                valid = false;
            }

            if (valid) {
                let json = format_regex_json(primitives, lexeme_expresssion);
                $.ajax({
                    type: "POST",
                    url: "/regex/to-automata",
                    data: JSON.stringify(json),
                    contentType: "application/json",
                    success: res => download(res, "automata.txt"),
                    error: res => show_error(res),
                });
            }
        }

        function format_regex_json(primitives, lexemes) {
            let json = {}
            format_regex_json_entry(primitives, json, "dependencies")
            format_regex_json_entry(lexemes, json, "expressions")
            return json
        }

        function format_regex_json_entry(text, json, key) {
            json[key] = []
            let elements;
            let parsed = text;
            parsed = parsed.replace(/ /g, "");
            parsed = parsed.replace(/\n/g, "");
            let lines = parsed.split(";");
            lines = lines.filter(e => e);
            for (line of lines) {
                elements = line.split("<-");
                json[key].push({[elements[0]] : elements[1]});
            }
            return json;
        }
    </script>
{% endmacro %}