{% from 'automata/model.html' import model %}
{% from 'automata/edition.html' import edition %}
{% from 'automata/execution.html' import execution %}
{% from 'automata/operation.html' import operation %}
{% from 'automata/constants.html' import constants %}
{% from 'automata/controls.html' import automata_controls %}

{% macro automata(prefix_id='') %}

    {{ constants(prefix_id=prefix_id) }}
    {{ model() }}

    <div class="container">
        <h2 class="text-center mt-5"> Autômatos Finitos </h2>

        <nav>
            <div class="nav nav-tabs" role="tablist">
                <button type="button" class="btn nav-item nav-link active" role="tab" data-toggle="tab" href="#automata-edition-content"> Edição </button>
                <button type="button" class="btn nav-item nav-link" role="tab" data-toggle="tab" href="#automata-execution-content"> Execução </button>
                <button type="button" class="btn nav-item nav-link" role="tab" data-toggle="tab" href="#automata-operation-content"> Operações </button>
            </div>
        </nav>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="automata-edition-content" role="tabpanel">
                {{ automata_controls(prefix_id=prefix_id) }}
                {{ edition(prefix_id=prefix_id) }}
            </div>
            <div class="tab-pane fade" id="automata-execution-content" role="tabpanel">
                {{ automata_controls(prefix_id=prefix_id) }}
                {{ execution(prefix_id=prefix_id) }}
            </div>
            <div class="tab-pane fade" id="automata-operation-content" role="tabpanel">
                {{ operation(prefix_id=prefix_id) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var global = {
            edition: {
                network: null,
                options: null,
            },

            execution: {
                network: null,
                options: null,

                word: "",
                branches: null,
                branch_count: 0,
                processing: true,
                curr_node: {},

                history_count: 0,
                history: []
            },

            next_automata_id: 2,
            current_automata: 0,
            automatas: [new Automata(1)],
        };

        $(ADD_AUTOMATA_BTN).click(() => {
            let index = global.next_automata_id++;
            global.automatas.push(new Automata(index));
            populate_automata_select();
            switch_to_automata(index);
        });

        $(AUTOMATA_SELECT_REACTIVE).change(event => {
            switch_to_automata($(event.target).val());
        });

        $("button[data-toggle='tab']").on("shown.bs.tab", event => {
            global.edition.network.fit();
            global.execution.network.fit();
        });

        function populate_automata_select() {
            $(AUTOMATA_SELECT).html("");
            for (automata of global.automatas)
                $(AUTOMATA_SELECT).append($("<option>").val(automata.id).text(automata.name));
        }

        function get_current_automata() {
            return global.automatas[global.current_automata];
        }

        function switch_to_automata(index) {
            global.current_automata = index - 1;
            let automata = get_current_automata();
            $(AUTOMATA_SELECT_REACTIVE).val(index);
            automata.update_positions();
            global.edition.network.setData(automata.get_data());
            global.execution.network.setData(automata.get_data());
            disable_edition_mode();
            reset_automata_state();
        }

        function import_automata(json, extra = "importado") {
            let index = global.next_automata_id++;
            let automata = Automata.from_json(index, json, extra);
            global.automatas.push(automata);
            populate_automata_select();
            switch_to_automata(index);
        }

        function export_automata() {
            let automata = get_current_automata();
            let json = automata.to_json();
            return json;
        }

    </script>
{% endmacro %}