{% from 'automata/controls.html' import operation_controls %}

{% macro operation(prefix_id='') %}

    <div>
        {{ operation_controls(prefix_id=prefix_id) }}
        <div>
            <div class="input-group my-2">
                <div class="input-group-prepend">
                    <label class="input-group-text"> Operando 1&nbsp; </label>
                </div>
                <select id="{{prefix_id}}-operand-1" class="custom-select {{prefix_id}}-automata-select"> </select>
            </div>

            <div class="input-group my-2">
                <div class="input-group-prepend">
                    <label class="input-group-text"> Operando 2* </label>
                </div>
                <select id="{{prefix_id}}-operand-2" class="custom-select {{prefix_id}}-automata-select"> </select>
            </div>
            <small> *Considerado somente pelas operações que utilizam dois operandos (isto é, união e intersecção). </small>
        </div>

        <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;">
            <div id="new-automata-toast" role="alert" class="toast" data-delay="3000">
                <div class="toast-header px-3">
                    <h4 class="text-dark my-2 mr-5"> Novo autômato criado! </h4>
                    <button type="button" class="ml-auto mb-1 close" data-dismiss="toast">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body px-3">
                    <span> Um novo autômato foi gerado. </span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function get_single_data() {
            let index = $(OPERAND_1).val();
            let data = {automata: global.automatas[index - 1].to_json()};
            return data;
        }

        function get_double_data() {
            let index_1 = $(OPERAND_1).val();
            let index_2 = $(OPERAND_2).val();
            let data = {
                automata_1: global.automatas[index_1 - 1].to_json(),
                automata_2: global.automatas[index_2 - 1].to_json(),
            }
            return data;
        }

        $(CONVERT_TO_GRAMMAR_BTN).click(() => {
            let data = get_single_data();
            post_export("/automata/to-grammar", JSON.stringify(data), "automata-to-grammar.txt");
        });

        function operate(operation, data, extra) {
            $.ajax({
                type: "POST",
                url: `/automata/${operation}`,
                data: JSON.stringify(data),
                contentType: "application/json",
                success: res => {
                    import_automata(res, extra);
                    $(NEW_AUTOMATA_TOAST).toast("show");
                },
                error: res => show_error(res),
            });
        }

        $(UNIFY_BTN).click(() => operate("unify", get_double_data(), "união"));
        $(MINIMIZE_BTN).click(() => operate("minimize", get_single_data(), "minimizado"));
        $(INTERSECT_BTN).click(() => operate("intersect", get_double_data(), "intersecção"));
        $(DETERMINIZE_BTN).click(() => operate("determinize", get_single_data(), "determinizado"));


    </script>

{% endmacro %}