{% macro menu(prefix_id='') %}
    <div class="vertical-menu border-right bg-light p-3">
        <nav class="nav nav-pills flex-column text-left" role="tablist" id="accordion">
            <button data-toggle="tab" role="tab" href="#content-1" class="text-left btn nav-item my-1 nav-link active"> Autômatos </button>
            <div class="collapse ml-4 show" data-parent="#accordion">
                <button id="import-1" class="text-left btn btn-block my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 20 20">
                        <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    Importar
                </button>
                <button id="export-1" class="text-left btn btn-block my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 20 20">
                        <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    Exportar
                </button>
            </div>
            <button data-toggle="tab" role="tab" href="#content-2" class="text-left btn nav-item my-1 nav-link"> Gramáticas </button>
            <div class="collapse ml-4" data-parent="#accordion">
                <button id="import-2" class="text-left btn btn-block my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 20 20">
                        <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    Importar
                </button>
                <button id="export-2" class="text-left btn btn-block my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 20 20">
                        <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    Exportar
                </button>
            </div>
            <button data-toggle="tab" role="tab" href="#content-3" class="text-left btn nav-item my-1 nav-link"> Expressões regulares </button>
            <div class="collapse ml-4" data-parent="#accordion">
                <button id="import-3" class="text-left btn btn-block my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 20 20">
                        <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    Importar
                </button>
                <button id="export-3" class="text-left btn btn-block my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 20 20">
                        <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    Exportar
                </button>
            </div>
        </nav>
    </div>

    <a id="download" class="d-none"> </a>

    <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;">
        <div id="error-toast" role="alert" class="toast" data-autohide="false">
            <div class="toast-header px-3">
                <h4 id="error-toast-title" class="text-dark my-2 mr-5"> </h4>
                <button type="button" class="ml-auto mb-1 close" data-dismiss="toast">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body px-3">
                <span id="error-toast-body"> </span>
            </div>
        </div>
    </div>


    {% from 'menu/modal.html' import import_modal %}
    {{ import_modal(prefix_id='1') }}

    <script type="text/javascript">

        const DOWNLOAD_LINK = "#download";
        const ERROR_TOAST = "#error-toast";
        const ERROR_TOAST_TITLE = "#error-toast-title";
        const ERROR_TOAST_BODY = "#error-toast-body";

        $("button.nav-item").click(event => {
            $(event.target).next().collapse("toggle");
        });

        $("#import-1").click(() => {
            show_import_modal(data => post_import('/automata/import', data, res => import_automata(res)));
        });

        $("#export-1").click(() => {
            let data = {"automata" : export_automata()};
            post_export("/automata/export", JSON.stringify(data), "automata.txt");
        });

        $("#import-2").click(() => {
            show_import_modal(data => post_import('/grammar/import', data, res => import_grammar(res)));
        });

        $("#export-2").click(() => {
            let data = export_grammar();
            post_export("/grammar/export", JSON.stringify(data), "grammar.txt");
        });

        $("#import-3").click(() => {
            show_import_modal(data => post_import('/regex/import', data, res => import_regex(res)));
        });

        $("#export-3").click(() => {
            let data = export_regex();
            if (data)
                post_export("/regex/export", JSON.stringify(data), "regex.txt")
            else
                show_error(null, "Expressão inválida não pode ser exportada.")
        });

        function post_import(url, data, success) {
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: success,
                error: res => show_error(res),
                contentType: false,
                processData: false,
            });
        }

        function post_export(url, data, filename) {
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: res => download(res, filename),
                error: res => show_error(res),
                contentType: "application/json",
            });
        }

        function download(data, filename) {
            let blob = new Blob([data], {type: "text/plain"});
            let link = $(DOWNLOAD_LINK).get(0);
            link.download = filename;
            link.href = window.URL.createObjectURL(blob);
            link.click();
        }

        function show_error(res, in_message) {
            console.log(res);
            let message = in_message;
            if (res && res.hasOwnProperty("responseJSON")) {
                if (res.responseJSON.hasOwnProperty("message"))
                    message = res.responseJSON.message;
            }
            $(ERROR_TOAST_TITLE).html(`Erro ${res ? res.status : ""}`);
            $(ERROR_TOAST_BODY).html(message ? message : "A operação não pôde ser concluída.");
            $(ERROR_TOAST).toast("show");
        }
    </script>
{% endmacro %}
