<!DOCTYPE html>
<html>
    <head>
        <title> Linguagens Formais e Compiladores </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <body>
        <header class="p-2 bg-dark text-white text-center">
            <h3> {{ title }} </h3>
        </header>
        {% block content %} {% endblock %}
    </body>
</html>