/* Arquivo de CSS aplicado a todas as páginas. */

svg.bi {
    vertical-align: center;
}

.h-50vh {
    height: 50vh;
}

.vertical-menu {
    height: 100%;
    height: 100vh;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}


.states-container {
    height: 25vh;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.state-block {
    display: inline-block;
    height: calc(100% - 2em);
    width: 35vh;
    background-color: whitesmoke;
    margin: 1em 0 1em 1em;
    padding: 1em;

    border-radius: 2px;

	border-color: dimgrey;
	border-width: 4px;
	border-style: dashed none  none none;

}

.state-block.rejected{
    background-color: tomato;

}

.state-block.accepted{
    background-color: springgreen;
}

.state-block > .state {
	border-color: #2b7ce9;
	border-width: 0.2em;
	border-style: solid;
    border-radius: 10vh;
    background-color: #d2e5ff;
    height: 10vh;
    width: 10vh;

    text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

}

.state-block > .state.initial{
	border-color: #ff8c00;
    background-color: #f2c89b;

}

.state-block > .state.final{
	border-style: dashed;
}

.state-block > .word{
	margin: 2px;
	padding: 2px;
	color: dimgrey;
	font-weight: bold;
    overflow-x: scroll;
    min-height: 1em;
    min-width: 1em;
}