/* Arquivo de CSS aplicado a todas as páginas. */

svg.bi {
    vertical-align: center;
}

.h-50vh {
    height: 50vh;
}

.vertical-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}

.states-container {
    width: 100%;
    min-height: 15vh;
    overflow-x: scroll;
    white-space: nowrap;
}

.state-block {
    width: 15vh;
    margin: 0 2%;
    display: inline-block;
    text-align: center;
}

.state-block.rejected{
    background-color: tomato;
}

.state-block.accepted{
    background-color: springgreen;
}

.state-block > .state {
	border-color: #2b7ce9;
	border-width: 0.2em;
	border-style: solid;
    border-radius: 100%;
    background-color: #d2e5ff;
    height: 8vh;
    width: 8vh;
    margin: 1% auto;
    text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.state-block > .state.initial{
	border-color: #ff8c00;
    background-color: #f2c89b;
}

.state-block > .state.final{
	border-style: dashed;
}

.state-block > .word{
	color: dimgrey;
	font-weight: bold;
    overflow-x: scroll;
    min-height: 3em;
    height: 3em;
}